<%= form_for(@acc_transaction) do |f| %>
  <% if @acc_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acc_transaction.errors.count, "error") %> prohibited this acc_transaction from being saved:</h2>

      <ul>
      <% @acc_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_a %><br>
    <!--<%= f.text_field :type_a %>-->
    <%= f.select(:type_a, options_for_select([ %w[From from], %w[To to]]))  %>
  </div>

  <div class="field">
    <%= f.label :type_a_acc %><br>
    <!--<%= f.number_field :type_a_acc %>-->
    <%= f.collection_select :type_a_acc, Account.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :type_b %><br>
    <!--<%= f.text_field :type_b %>-->
    <%= f.select(:type_b, options_for_select([ %w[From from], %w[To to]]))  %>
  </div>

  <div class="field">
    <%= f.label :type_b_acc %><br>
    <!--<%= f.number_field :type_b_acc %>-->
    <%= f.collection_select :type_b_acc, Account.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
