<h1>Listing acc_transactions</h1>

<table>
  <thead>
    <tr>
      <th>TXN Type</th>
      <th>Account</th>
      <th>TXN Type</th>
      <th>Account</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acc_transactions.each do |acc_transaction| %>
      <tr>
        <td><%= acc_transaction.type_a %></td>
        <!--<td><%= acc_transaction.type_a_acc %></td>-->
        <td><%= acc_transaction.type_a_account.name %></td>
        <td><%= acc_transaction.type_b %></td>
        <!--<td><%= acc_transaction.type_b_acc %></td>-->
        <td><%= acc_transaction.type_b_account.name %></td>
        <td><%= acc_transaction.amount %></td>
        <td><%= acc_transaction.date %></td>
        <td><%= acc_transaction.desc %></td>
        <td><%= link_to 'Show', acc_transaction %></td>
        <% if @current_user.user_group.name.eql? 'Accountant' %>
            <td><%= link_to 'Edit', edit_acc_transaction_path(acc_transaction) %></td>
            <td><%= link_to 'Destroy', acc_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @current_user.user_group.name.eql? 'Accountant' %>
    <%= link_to 'New Acc transaction', new_acc_transaction_path %>
<%end%>
<br>
<br>
<%= link_to 'Home Page', root_path %>