<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @acc_transaction.type_a %>
</p>

<p>
  <strong>Account:</strong>
  <%= @acc_transaction.type_a_account.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @acc_transaction.type_b %>
</p>

<p>
  <strong>Account:</strong>
  <%= @acc_transaction.type_b_account.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @acc_transaction.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @acc_transaction.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @acc_transaction.desc %>
</p>

<%= link_to 'Edit', edit_acc_transaction_path(@acc_transaction) %> |
<%= link_to 'Back', acc_transactions_path %>
