<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <!--<th>Username</th>-->
      <th>Name</th>
      <th>Email</th>
      <!--<th>Password</th>-->
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <!--<td><%= user.username %></td>-->
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <!--<td><%= user.password %></td>-->
        <td><%= user.user_group.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<br>
<br>
<%= link_to 'Home Page', root_path %>