<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<!--<p>-->
  <!--<strong>Password:</strong>-->
  <!--<%= @user.password %>-->
<!--</p>-->

<p>
  <strong>Group:</strong>
  <!--<%= @user.group_id %>-->
  <%= @user.user_group.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
