<%= form_for(@account_type) do |f| %>
  <% if @account_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_type.errors.count, "error") %> prohibited this account_type from being saved:</h2>

      <ul>
      <% @account_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lhs_attr %><br>
    <%= f.check_box :lhs_attr %>
  </div>
  <div class="field">
    <%= f.label :rhs_attr %><br>
    <%= f.check_box :rhs_attr %>
  </div>
  <div class="field">
    <%= f.label :plus_attr %><br>
    <%= f.check_box :plus_attr %>
  </div>
  <div class="field">
    <%= f.label :minus_attr %><br>
    <%= f.check_box :minus_attr %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
