<h1>Listing account_types</h1>

<p><strong>The current equation implies: </strong></p>
<p><strong>LHS Attribute(Before Minus Attribute, After Minus Attribute) = RHS Attribute(Before Minus Attribute, After Minus Attribute)</strong></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>LHS Attribute</th>
      <th>RHS Attribute</th>
      <th>Before Minus Attribute</th>
      <th>After Minus Attribute</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_types.each do |account_type| %>
      <tr>
        <td><%= account_type.name %></td>
        <td><%= account_type.lhs_attr %></td>
        <td><%= account_type.rhs_attr %></td>
        <td><%= account_type.plus_attr %></td>
        <td><%= account_type.minus_attr %></td>
        <td><%= link_to 'Show', account_type %></td>
        <td><%= link_to 'Edit', edit_account_type_path(account_type) %></td>
        <td><%= link_to 'Destroy', account_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account type', new_account_type_path %>
<br>
<br>
<%= link_to 'Home Page', root_path %>