<h1>Welcome XXXXXXX</h1>

<p><strong>The current balances sheet</strong></p>

<% @balances_sheet.each do |key|  %>
    Balance of account <strong><%= key.name %></strong> is : <strong><%= key.balance %></strong>
    <br>
<% end %>

<br>
<br>
<div style="width: 100%">
  <div style="width: 50%; float: left"><%= pie_chart Account.group(:name).sum(:balance) %></div>
  <div style="width: 50%; float: right"><%= column_chart Account.group(:name).sum(:balance) %></div>
</div>
<br>
<br>
<%= link_to 'Home Page', root_path %>