<h1>Welcome <%= @current_user.name %> </h1>
<h1>Welcome <%= @current_user.id %> </h1>

<p><strong>Based on your role as a <font color="#dc143c"><%= @current_user.user_group.name %></font>, this is your dashboard:</strong></p>
<table>
  <tbody>
      <tr>
        <td><%= image_tag('manager_dashboard/view_txn.png', size: '70x70') %><br><br></td>
        <td><strong><%= link_to 'View Transactions History', acc_transactions_path %></strong><br><br></td>
      </tr>
      <tr>
        <td><%= image_tag('manager_dashboard/balance_sheet.png', size: '70x70') %><br><br></td>
        <td><strong><%= link_to 'Generate Balance Sheet', balance_sheet_path %></strong><br><br></td>
      </tr>

      <% if @current_user.user_group.name.eql? 'Manager' %>
          <tr>
            <td><%= image_tag('manager_dashboard/users.png', size: '70x70') %><br><br></td>
            <td><strong><%= link_to 'Create/Edit/Delete A User', users_path %></strong><br><br></td>
          </tr>
          <tr>
            <td><%= image_tag('manager_dashboard/accounts.png', size: '70x70') %><br><br></td>
            <td><strong><%= link_to 'Create/Edit/Delete An Account', accounts_path %></strong><br><br></td>
          </tr>
          <tr>
            <td><%= image_tag('manager_dashboard/types.png', size: '70x70') %><br><br></td>
            <td><strong><%= link_to 'Create/Edit/Delete An Account Type', account_types_path %></strong><br><br></td>
          </tr>
    <% end %>
  </tbody>
</table>


