<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from_acc %><br>
    <!--<%= f.number_field :from_acc %>-->
    <%= f.collection_select :from_acc, Account.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :to_acc %><br>
    <!--<%= f.number_field :to_acc %>-->
    <%= f.collection_select :to_acc, Account.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :is_to_to %> transaction? (this means that the transaction is "To" some account and "To" another some account)<br>
    <%= f.check_box :is_to_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
