<h1>Listing transactions</h1>

<table>
  <thead>
    <tr>
      <!--<th>From account</th>-->
      <!--<th>To account</th>-->
      <th>From account</th>
      <th>To account</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Description</th>
      <th>Is it "To To" transaction?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <!--<td><%= transaction.from_acc %></td>-->
        <!--<td><%= transaction.to_acc %></td>-->
        <td><%= transaction.from_account.name %></td>
        <td><%= transaction.to_account.name %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.date %></td>
        <td><%= transaction.desc %></td>
        <td><%= transaction.is_to_to %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
