<!DOCTYPE html>
<html>
<head>
  <title>AccPro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
</head>
<body>

<% if @current_user != nil %>
    <%= link_to 'Profile', edit_user_path(:id => @current_user.id)  %>
    <%= link_to 'Logout', sessions_logout_path %>
<% else %>
<% end %>
<br>
<%= yield %>

</body>
</html>
